body {
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.awesome-button {

}

.hero-image {
  width: 400px;
  height: 250px;
  border: 1px solid black;
}

.main {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}



.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}



.mb {
  width: 100vw;
  border: 1px solid blue;
}

.Hero-top {
  flex: .05;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;

}

.h-and-links {
  display: flex;
  align-items: center;
  width: 65vw;
  justify-content: space-between;
}

.three-links {
  display: flex;
  gap: 3rem;
}

.Hero-content {
  flex: .25;
  background-color: #1F2937;
}

.rand-info {
  flex: .25;
}

.quote-body {
  flex: .25;  
}

.cta-body {
  flex: .25;
}

.footer-body {
  flex: .05;
}