body {
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.awesome-button {
  background-color: #3882F6;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  color: #e5e7eb;
  margin: 0;
  margin-top: 1.5rem;
}

/* .hero-left {
  height: 250px;
} */

.hero-image {
  width: 700px;
  height: 250px;
  border: 1px solid black;
  flex-shrink: 0;
}

.main {
  /* height: 100vh; */
  width: 100vw;
  border: 1px solid black;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}



.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}



.mb {
  width: 100vw;
  border: 1px solid blue;
}

.Hero-top {
  flex: .05;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;

}

.h-and-links {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.three-links {
  display: flex;
  gap: 3rem;
}

.Hero-content {
  flex: .25;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  /* margin-bottom: 10rem; */
}

.hero-left {
  height: 250px;
  flex-shrink: 1;
}

.hero-content-2 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 250px;

  align-items: center;
  gap: 2rem;
  margin: 5rem;
  /* align-items: center; */
}

.rand-info {
  flex: .25;
}

.quote-body {
  flex: .25;  
}

.cta-body {
  flex: .25;
}

.footer-body {
  flex: .05;
}