body {
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.awesome-button {
  background-color: #3882F6;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  color: #e5e7eb;
  margin: 0;
  margin-top: 1.5rem;
}

/* .hero-left {
  height: 250px;
} */

.hero-image {
  width: 700px;
  height: 250px;
  border: 1px solid black;
  flex-shrink: 0;
}

.main {
  /* height: 100vh; */
  width: 100vw;
  border: 1px solid black;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}



.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}



.mb {
  width: 100vw;
  border: 1px solid blue;
}

.Hero-top {
  flex: .05;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;

}

.h-and-links {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.three-links {
  display: flex;
  gap: 3rem;
}

.Hero-content {
  flex: .25;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  /* margin-bottom: 10rem; */
}

.hero-left {
  height: 250px;
  flex-shrink: 1;
}

.hero-content-2 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 250px;

  align-items: center;
  gap: 2rem;
  margin: 5rem;
  /* align-items: center; */
}

.rand-info {
  flex: .25;
}

.rand-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.rand-info-inside {
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  align-items: center;
  /* padding: 5rem; */
  /* width: 1200px; */
}

.rand-image {
  border: 3px solid blue;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.rand-blocks {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 150px;
  text-align: center;
}

.image-blocks {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 1000px;
  padding-left: 20rem;
  padding-right: 20rem;
  align-items: center;
  justify-content:space-between;

}

.quote-body {
  flex: .25;
  background-color: #e5e7eb;
  /* padding: 5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-meat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.quote {
  font-size: 36px;
  font-style: light italic;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.author {
  font-weight: 700;
  align-self: flex-end;
  padding-right: 2rem;
}

.cta-body {
  flex: .25;
  display: flex;
  justify-content: center;
}

.cta-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  background-color: #3882F6;
  font-size: 24px;
  color: #e5e7eb;
  padding: 3rem;
  border-radius: 10px;
}

.cta-left {
  margin-left: 5rem;
}

.cta-right {
  margin-right: 5rem;
}

.cta-top {
  margin: 0;
  font-size: 32px;
  font-weight: 900;
}

.cta-bottom {
  margin: 0;
}

.cta-button {
  font-size: 20px;
  color: #e5e7eb;
  background-color: #3882F6;
  padding: 0.5rem;
  width: 10rem;
  border: 5px solid #f9faf8;
  border-radius: 10px;
}

.footer-body {
  flex: .05;
}